body{
    font-family: Arial, sans-serif;
}


nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    float: left;
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    padding-left: 390px;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

.menu{
    float: left;
    padding-left: 430px;
    
}

.menu li{
    float: left;
    font-size: 16px;
    color: white;
    line-height: 60px;
    margin-right: 40px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.menu li a:visited{
    color: white;
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(https://i.ibb.co/SvdSMcH/bg.jpg) center/cover no-repeat;
}

.title__container{
    float: left;
    margin: 404px 0px 0px 432px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4;
}

.title__container h1{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

.title__container h4{
    color: #79818D;
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
}

.title__container input{
    width: 96px;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    cursor: pointer;
    margin: 50px 14px 0px 14px;
}

.about_me__title h2{
    text-align: center;
    padding: 79px 10px;
    font-weight: bold;
    font-size: 34px;
    color: #263244;
}

.title_line{
    width: 72px;
    height: 4px;
    background: #EA7800;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    margin-bottom: 44px;
}



.about__img2{
    margin-left: 861px;
    margin-right: 861px;
    margin-top: 44px;
    margin-bottom: 38px;
}

.about_me__text{
    font-size: 17px;
    color: #3F495A;
    text-align: left;
    margin: 38px 10px 35px 550px;
    -webkit-animation: about_me__text 0.4s;
    -o-animation: about_me__text 0.4s;
    animation: about_me__text 0.4s;
}

.about_me__textesss{
    font-size: 17px;
    color: #3F495A;
    text-align: left;
    margin: 38px 10px 35px 550px;
    -webkit-animation: about_me__textess 0.8s;
    -o-animation: about_me__textess 0.8s;
    animation: about_me__textess 0.8s;
}

.download__btn{
    display: flex;
    justify-content: center;
    background: url(../img/input.png) 10px 10px 10px 11px;
    align-items: center;
    height: 40px;
    padding: 7px 9px 7px 36px;
    text-align: center;
    font-size: 17px;
    color: #6F707E;
    background: none;
    border: 2px solid #6F707E;
    border-radius: 5px;
    margin: 35px 820px 98px 855px;
}

.skill-wrap{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6660px;
    display: grid;
    gap: 36px;
    height: 523px;
    background: url(../img/bg2.jpg) center/cover no-repeat;
    padding-bottom: 60px;

}

.skills_title h2{
    color: #263244;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}

.title_line__skill{
    width: 72px;
    height: 4px;
    background: #EA7800;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: -170px;
}

.skills{
    display: flex;
    gap: 77px;
}

.skills_item{
    align-items: center;
    text-align: center;
    gap: 17px;
    display: flex;
    flex-direction: column;
    
}

.skills_item h3{
    color: #CF7600;
    font-weight: bold;
    font-size: 19px;
}

.skills_item p{
    color: #3F495A;
    font-size: 17px;
}



.portfolio{
    padding-top: 110px;
    padding-bottom: 128px;
}

.portfolio_container{
    width: 1170px;
    margin: 0 auto;
    
}
.title_line__portfolio{
    width: 72px;
    height: 4px;
    background: #EA7800;
    display: flex;
    margin-bottom: -45px;    
    margin-right: auto;
    margin-left: auto;    
}
.portfolio_container h2{
    text-align: center;
    width: 214px;
    font-size: 33px;
    margin: 0px auto 30px;
    font-weight: bold;
    
}
.portfolio_container p{
    text-align: center;
    font-size: 17px;
    margin-top: 63px;     
}

.portfolio_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 40px;
}

.portfolio_subscription{
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}

.portfolio_container img{
    width: 100%;
    margin-bottom: 40px;
}

.description_left{
    width: 200px;
    float: left;
    margin-right: 82px;
}
.description_left h3{
    font-size: 25px;
    
}

.description_left p{
    font-size: 17px;
    margin: 16px 0;
}

.description_left a{
    margin-top: 25px;
    display: block;
    width: 100%;
    background: #63b5ae;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    
}
.description_right h4{
    font-size: 25px;
    margin-bottom: 10px;
}
.description_right p{
    font-size: 20px;

}



.calculator h2 {
    text-align: center;
    color: #1C2534;
    font-size: 33px;
    font-weight: bold;
}

.calculatores {
    align-items: center;
    justify-content: center;
    width: 1800px;
    height: 741px;
    display: grid;
}

.calculatores h3 {
    color: #1C2534;
    font-weight: bold;
    font-size: 29px;
    margin: 37px 0px -22px 0px;
}

.calculatores opt {
    color: #737373;
    font-size: 17px;
    
}

.item-text{
    font-size: 21px;
    color: #1C2534;
    font-weight: bold;
}

.item-value {
    color: #1C2534;
    font-size: 30px;
    font-weight: bold;
}

.list__item {
    display: flex;
    gap: 814px;
    justify-content: space-between;
}

.box {
    height: 35px;
    background: #EEEEEE;
}


.statistics-wrap {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6660px;
    display: grid;
    gap: 36px;
    height: 523px;
    background: url(../img/bg3.jpg) center/cover no-repeat;
    padding-bottom: 60px;
    margin-top: 150px;
}

.statistics h2 {
    color: #263244;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}

.title_line__statistics {
    width: 72px;
    height: 4px;
    background: #EA7800;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 74px;
    margin-top: 20px;

}

.statistics__conteiner {
    text-align: center;
    gap: 152px;
    display: flex;

}

.statistics__conteiner p {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.bold {
    font-size: 37px;
    font-weight: bold;
    color: #323E4F;
}

.normal {
    font-size: 17px;
    color: #323E4F;
}




.reviews {
    text-align: center;
    align-items: center;
}

.reviews h2 {
    text-align: center;
    color: #1C2534;
    font-size: 33px;
    font-weight: bold;
    margin-top: 100px;
}

.title_line__reviews {
    width: 72px;
    height: 4px;
    background: #EA7800;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 55px;
}

.text__reviews p {
    margin-top: 48px;
    font-size: 17px;
    color: #243042;
    margin-bottom: 27px;
}

.Gen__direktor {
    font-size: 17px;
    color: #243042;
}


.title_dot__orange {
    width: 10px;
    height: 10px;
    background: #EA7800;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 55px;
    border-radius: 5px;
}

.title__dot {
    width: 10px;
    height: 10px;
    background: #CFD2D7;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 55px;
    border-radius: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-left: 800px;
    margin-right: 800px;
    gap: 14px;
    margin-top: 48px;
    margin-bottom: 75px;
}

.contacts {
    height: 8x;
    width: 100%;
    background: url(../img/bg4.jpg) center/cover no-repeat;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.text_top h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 101px;
    margin-top: 101px;
}

.title_line__contacts {
       width: 72px;
    height: 4px;
    background: #EA7800;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 55px; 
}

.text_top p {
    font-size: 17px;
    color: #FFFFFF;
    margin-bottom: 36px;
}


.contacts_item {
    display: flex;
    gap: 77px;
    justify-content: center;
}



.navigation p {
    color: white;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 37px;
}

.konec h3{
    font-size: 22px;
    color: white;
    margin-top: 37px;
    margin-bottom: 30px
    
}

.otvet {
    justify-content: center;
    gap: 35px; 
    display: flex;
}

.name {
    height: 34px;
    width: 352px;
    color: white 85%;
}

.email {
    height: 34px;
    width: 352px; 
}


.otvet input{
    display: block;
    width: 352px;

    height: 34px;
    padding-left: 14px;
    margin-bottom: 14px;
    background: rgba(210, 214, 220, 0.93);
    font-size: 16px;
}

.otvet_text {
    margin-left: 580px;
}


.otvet_text textarea {
    display: block;
    width: 740px;
    align-items: center;
    height: 94px;
    padding-left: 14px;
    margin-bottom: 14px;
    background: rgba(210, 214, 220, 0.93);
    font-size: 16px;
}


.knopka {
    height: 46px;
    width: 125px;
    border: 2px solid #FFF;
    justify-items: center;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
    margin-bottom: 80px;
}


.knopka p {
    text-align: center;
    color: white;
    font-size: 21px;
    margin-top: 10px;
}


.me__contacts {

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    margin-top: 70px;
}

.me__contacts a {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 60px;
}

.map {
    width: 1920px;
    height: 356px;
}

.map button {
    background: #FFF;
}

.footer {
    background: #354051;
    height: 94px;
}

.footer_container {
    text-align: center;
    line-height: 94px;
    color: white;
}

.menu li a {
    transition: all 0.2s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:hover {
    color: #EA7800;
}

.menu li a:active {
    transform: scale(1.1);
}

.title__container input {
    transition: all 0.2s;
}

.title__container input:hover {
    background: #2C384A;
    color: white;
    transform: scale(1);
}

.title__container input:active {
    transform: scale(1.1);
}

@keyframes comming {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.menu li:nth-child(6) {
    animation-delay: 2s;
}

@keyframes titlemove {
    from{
        opacity: 0;
        margin-left: -300px;
    }
    to {
        opacity: 1;
        margin-left: 400px;
    }
}

.chapter {
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

@keyframes about_me__text {
    from{
        opacity: 0;
        margin-left: -300px;
    }
    to {
        opacity: 1;
        margin-left: 550px;
    }
}

@keyframes about_me__textess {
    from{
        opacity: 0;
        margin-left: -300px;
    }
    to {
        opacity: 1;
        margin-left: 550px;
    }
}

@keyframes text__reviews {
    from{
        opacity: 0;
        margin-left: -300px;
    }
    to {
        opacity: 1;
        margin-left: 550px;
    }
}







